* {box-sizing: border-box;
}
body {
	background-color: blue;
}
.textWrapper {
	text-align: center;
	color: white;
}
.submitWrapper {
	text-align: center;
}

.submit {
	margin-left: .1em;
	height: 2em;
	box-shadow: .4em .4em .5em black;
}
div.results {
	margin-top: 1.5em;
	padding-top: 0;
	width: 100%;
	float: left;
	background-color: white;
}
.thumbWrap {
    display: inline-block;
    float: left;
    height: 270px;
    margin-right: 20px;
    padding: 10px;
    width: 320px;
}

.caption {
	text-align: center;
	font-size: 1em;
	color: black;
}

a {
	text-decoration: none;
}
.nextWrapper {
	display: none;
	width: 100%;
	text-align: center;
}
button {
	height:2em;
	width: 5em;
	box-shadow: .4em .4em .5em black;
}
